{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Trip Slice</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

</head>

<body>
	<div id="myApp"></div>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header mdl-layout__header--transparent">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Trip Split</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Search -->
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="#">Quick Trip</a>
					<a class="mdl-navigation__link" href="#">My Account</a>
					<a class="mdl-navigation__link" href="#">About Us</a>
					<a class="mdl-navigation__link" href="{% url 'logout' %}">Sign Out</a>

				</nav>
				<!-- <form action="">
	      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
	        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
	          <i class="material-icons">search</i>
	        </label>
	        <div class="mdl-textfield__expandable-holder">
	          <input class="mdl-textfield__input" type="text" name="sample"
	                 id="fixed-header-drawer-exp" />
	        </div>
	      </div>
	      </form> -->

			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Title</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="">Quick Trip</a>
				<a class="mdl-navigation__link" href="">My Account</a>
				<a class="mdl-navigation__link" href="">About us</a>
			</nav>
		</div>

		<main class="mdl-layout__content">
			<div class="mdl-grid" id="mainGrid">
				<div class="mdl-layout-spacer"></div>
				<div id="myGrid" class="mdl-cell">
					<div class="google">
						{% if form.errors %}
						<p>Error</p>
						{% endif %} {% if next %}
						<p>{{ form }}</p>
						{% else %}
						<p>{{ durationValue }}</p>
						<p>
							{{ durationText }}
						</p>
						<p>
							{{ distanceText }}
						</p>
						<p>
							{{ distanceValue }}
						</p>
						{% endif %}
						<form action="{% url 'googleForm' %}" method="post">
							{% csrf_token %}
							<label for="source">Source: </label>
							<input id="source" type="text" name="source">
							<label for="dest">Dest: </label>
							<input id="dest" type="text" name="dest">
							<input type="submit" value="{{ next }}">
						</form>
					</div>
					<div class="andrewSearch">
						<form method="POST" action="{% url 'SearchCarForm' %}">
							{% csrf_token %}
							<input name='carSearch' id ='carSearch' type='text' placeholder="Search"></input>
						</form>
						{% for result in results %} {{ result }} {% endfor %}
					</div>
				<div class="mdl-layout-spacer"></div>
			</div>

				<div class="loginInfo">
			      <form action="">
			      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
			        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
			          <i class="material-icons">search</i>
			        </label>
			        <div class="mdl-textfield__expandable-holder">
			          <input class="mdl-textfield__input" type="text" name="sample"
			                 id="fixed-header-drawer-exp" />
			        </div>
			      </div>
			      </form>
				</div>

		</main>
	</div>
</body>

</html>
