@font-face{
  font-family: Bernier;
  src: url(../fonts/BERNIERShade-Regular.otf);
}
@font-face{
  font-family: Bernier-reg;
  src: url(../fonts/BERNIERRegular-Regular.otf);
}

@font-face{
  font-family: Bukhari;
  src: url(../fonts/BukhariScript-Regular.otf);
}


.material-icons{
  color: black;

}

.mdl-layout {
  background-size: ;
  background-color: #E5E3D7;
}

.mdl-layout__header-row .mdl-navigation__link{
  font-size: 18px;
  color: black;
}

.mdl-layout__header {
  transition-property: max-height,box-shadow,background;
  font-family: "Bernier-reg";
  font-size:25px;
}

.mdl-layout-title{
  font-family: "Bernier-reg";
  font-size: 30px;
  color:black;
}

.mdl-layout__header.is-casting-shadow {
  // override initial background when scrolling
  background: rgb(63,81,181);
}

.mdl-layout__header,
.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}